
body {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header{

    
}

#senai {

     display: flex;
    font-family: 'inter', 'sans-serif';
    justify-content: center;
    height: 50px;
    border: 1px solid rgb(24, 0, 19);
    background-color: aliceblue;
    width: 200px;
    height: 50px;
    object-fit: cover;
}


h2{

    position: relative;
    top: -32px;
    left: 99px;
    display: flex;
    font-family: 'inter', 'sans-serif';
    justify-content: center;
    border: 1px solid rgb(24, 0, 19);
    background-color: white;
    width: 433px;
    height: 40px;

   
}

#buscar{

    position: relative;
    top: -50px;
    left: 200px;
    width: 353px;
    height: 50px;

}

.fa-magnifying-glass{

   position: relative;
   top: -131px;
    left: 528px;
}

.fa-bars{

    position: relative;
    top: -132px;
    left: 544px;

}

#meio{

    width: 1000px;
    background-color: black;
}

.fa-user{

    position: relative;
    top: -71px;
    left: 520px;
   

}   

#separar{

    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100px;
    height: 100px;

}

header{

    width: 593px;
    height: 110px;
    background-color: darkgray;
}

#harry{

    margin-top: 50px;
    height: 300px;
    width: 190px;
}

#teste{
  width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}







