body {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header{
   
}

#senai {

     display: flex;
    font-family: 'inter', 'sans-serif';
    justify-content: center;
    height: 50px;
    border: 1px solid rgb(24, 0, 19);
    background-color: aliceblue;
    width: 272px;
    height: 50px;
}


h2{

    position: relative;
    top: -43px;
    left: 149px;
    display: flex;
    font-family: 'inter', 'sans-serif';
    justify-content: center;
    border: 1px solid rgb(24, 0, 19);
    background-color: white;
    width: 433px;
    height: 40px;

   
}

#buscar{

    position: relative;
    top: -50px;
    left: 275px;
    width: 374px;
    height: 50px;

}

.fa-magnifying-glass{

   position: relative;
   top: -135px;
   left: 623px;
}

.fa-bars{

    position: relative;
    top: -157px;
    left: 663px;
}

#meio{

    width: 1000px;
    background-color: black;
}

.fa-user{

    position: relative;
    top: -106px;
    left: 507px;
    color: white;

}   







